---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: myapp
  namespace: prod-frontend
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::468887949677:role/staging-demo-eks-myapp-secrets
imagePullSecrets:
  - name: dockercded

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: prod-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      serviceAccountName: myapp

      volumes:
        - name: secrets-vol
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: db-secrets

      containers:
        - name: myapp
          image: lington/lingtonpuffyapp:v1
          volumeMounts:
            - name: secrets-vol
              mountPath: /mnt/secrets
              readOnly: true



---
apiVersion: v1
kind: Service
metadata:
  name: myapp-svc
  namespace: prod-frontend
spec:
  selector:
    app: myapp
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP