# apiVersion: secrets-store.csi.x-k8s.io/v1
# kind: SecretProviderClass
# metadata:
#   name: db-secrets
#   namespace: prod-frontend
# spec:
#   provider: aws
#   parameters:
#     objects: |
#       - objectName: "database"
#         objectType: "secretsmanager"
#         jmesPath:
#           - path: MYSQL_USER
#             objectAlias: MYSQL_USER
#           - path: MYSQL_PASS
#             objectAlias: MYSQL_PASS
#           - path: MYSQL_URL
#             objectAlias: MYSQL_URL
