apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: db-secrets
  namespace: prod-frontend
spec:
  provider: aws
  parameters:
    region: eu-west-3
    objects: |
      - objectName: "database1"
        objectType: "secretsmanager"
        jmesPath:
          - path: MYSQL_USER
            objectAlias: MYSQL_USER
          - path: MYSQL_PASS
            objectAlias: MYSQL_PASS
          - path: MYSQL_URL
            objectAlias: MYSQL_URL

  secretObjects:
    - secretName: db-secrets
      type: Opaque
      data:
        - objectName: MYSQL_USER
          key: MYSQL_USER
        - objectName: MYSQL_PASS
          key: MYSQL_PASS
        - objectName: MYSQL_URL
          key: MYSQL_URL
