# apiVersion: v1
# kind: Pod
# metadata:
#   name: load-generator
#   namespace: prod-frontend
# spec:
#   containers:
#   - name: busybox
#     image: busybox
#     command: ["/bin/sh", "-c"]
#     args:
#       - while true; do wget -q -O- http://nginx-demo-svc.prod-frontend.svc.cluster.local > /dev/null; done


apiVersion: apps/v1
kind: Deployment
metadata:
  name: load-generator
  namespace: prod-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: load-generator
  template:
    metadata:
      labels:
        app: load-generator
    spec:
      containers:
      - name: busybox
        image: busybox
        command: ["/bin/sh", "-c"]
        args:
          - while true; do wget -q -O- http://nginx-demo-svc.prod-frontend.svc.cluster.local > /dev/null; done
